meta(charset="utf-8")
title=`${title}`
meta(name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1")
meta(name="description" content=`${h.siteDescription}`)
link(rel='stylesheet' href='/app.style.css')
link(rel="shortcut icon" type="image/png" href="/images/icons/th.png")
link(rel="canonical" href=`${h.canonical}`)


//- FB Open Graph
meta(property="og:url" content=`${h.canonical}`)
meta(property="og:title" content=`${title}`)
meta(property="og:description" content=`${h.siteDescription}`)
meta(property="og:image" content=`${h.canonical}/images/cover/todohipo-fb.jpg`)
meta(property="og:type" content="website")
meta(property="og:locale" content="es_ES")
//- meta(property="og:updated_time" content="") Cómo conseguir la fecha de actualizacion (no manual)?
meta(property="og:ttl" content="345600")

//- Twitter cards (enough with the ones from FB too)
meta(name="twitter:card" content="summary")
meta(name="twitter:creator" content="@rubenvara01")
meta(name="twitter:image" content=`${h.canonical}/images/cover/todohipo-tw.jpg`)

if env !== 'development'
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-85726270-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-85726270-1');
