doctype html
html(lang="es-ES")
  head
    meta(name="description" content=`¿Cómo quitar el hipo? Mira aquí 1666 formas de curar el hipo, bebiendo agua o con un susto, tú eliges 👍`)
    include ./head

  block vars

  body(class=bodyClass)
    block header
      header
        .wrapper
          .top
            a.logo(href="/")
              h2 👩‍⚕️ todohipo.com

    .content
      block cover
      block messages
      if locals.flashes
        .wrapper
          .inner
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash-${category}`)
                    p.flash-text!= message
                    button.flash-remove(onClick="this.parentElement.remove()") &times;
      .wrapper
        block content

    footer
      .wrapper
        if user
          p
            a(href="/update") Update a Tip
            |  - 
            a(href="/new") New Tip
            |  - 
            a(href="/bulk") Bulk Add Tips
            |
            form.link.logout(action="/act/logout" method="POST")
              input(type="submit" value="Logout here")
            |  - 
            form.link(action="/reset-clicks" method="POST")
              input(type="submit" value="Reset Tip Clicks")
            |  - 
            form.link(action="/reset-votes" method="POST")
              input(type="submit" value="Reset All Votes")
            |  - 
            form.link(action="/reset-ips" method="POST")
              input(type="submit" value="Reset All Ips")
            //-|  - 
            //-form.link(action="/delete-tips" method="POST") Commenting this just in case
              //-input(type="submit" value="Delete All Tips")
          pre= h.dump(ip)
          pre= h.dump(user)
        else
          a(href="/login") Login here
          pre No user

    block scripts
      script(src="/dist/App.bundle.js")