doctype html
html(lang="es-ES")
  head
    include ./head
    meta(name="description" content=`${h.siteDescription}`)

  block vars

  body(class=bodyClass)
    block header
      header
        .wrapper
          .top
            a.logo(href="/")
              h2 👩‍⚕️ todohipo.com

    .content
      block cover
      block messages
      if locals.flashes
        .wrapper
          .inner
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash-${category}`)
                    p.flash-text!= message
                    button.flash-remove(onClick="this.parentElement.remove()") &times;
      //- .wrapper
      block content

    footer
      .wrapper
        - const year = (new Date()).getFullYear();
        p Creado con 💛 por 
          a(href="https://rubenvara.io/?ref=todohipo.com" target="_blank") Rubén
        p Copyright © #{year} - 
          a(href="/politica-de-privacidad") Política de Privacidad
        if photoCredit
          p Cover photo by 
            a(href=`${photoCredit.link}` target="_blank" rel="nofollow") #{photoCredit.user}
            |  on  
            a(href="https://unsplash.com" target="_blank" rel="nofollow") Unsplash
          //- |  - 
          //- a(href="/login") Login here
          hr
          .end-disclaimer
            p todohipo.com no es una página médica y no se hace responsable de nada de lo que te pase. Si tienes problemas de salud, no deberías probar estos métodos. Si tu hipo persiste, ve al médico.
        if user && user.email === 'hey@rubenvara.io'
          hr
          p
            a(href="/update") Update a Tip
            |  - 
            a(href="/new") New Tip
            |  - 
            a(href="/bulk") Bulk Add Tips
            |  - 
            a.show-all-button(href="#") Show all Tips
            |
            form.link.logout(action="/act/logout" method="POST")
              input(type="submit" value="Logout here")
            |  - 
            form.link(action="/reset-clicks" method="POST")
              input(type="submit" value="Reset Tip Clicks")
            |  - 
            form.link(action="/reset-votes" method="POST")
              input(type="submit" value="Reset All Votes")
            |  - 
            form.link(action="/reset-ips" method="POST")
              input(type="submit" value="Reset All Ips")
            //-|  - 
            //-form.link(action="/delete-tips" method="POST") Commenting this just in case
              //-input(type="submit" value="Delete All Tips")
        else

    block scripts
      script(src="/dist/App.bundle.js")