mixin tipCard(tip, index)
  - const tipNum = index + 1;
  .tip(id=`tip-${tip._id}`)
    p.num.header= tipNum
    h3.title.header= tip.name
    .votes.header(id=`votes-${tip._id}`) 
      if tip.votes.voteNum === 0
        p.total
          span.no-voted Sin votos
      else
        p.total(id=`total-${tip._id}`) 
          span.util.hov Utilidad: 
          | #{tip.votes.avg}
          span.vote-max.hov  de 5
    .more-text
      .desc!=tip.desc
      - let cats;
      if typeof tip.category === 'string'
        - cats = tip.category.split(',');
      else
        - cats = tip.category;
      .cats
        each cat in cats
          p.cat= cat
      if user && user.role === 'ADMIN'
        .user
          form(action="/update-form" method="POST")
            input(type="text" name="tip" id="tip-id" readonly style="display: none;" value=tip._id)
            input(type="submit" value="🖊️ Update this tip")
          form(action="/delete" method="POST")
            input(type="text" name="tip" id="tip-id" readonly style="display: none;" value=tip._id)
            input(type="submit" value="💣 Delete this tip")
    if tip.ips.includes(ip)
      .vote-forms.voted
        p.vota.gracias Muchas gracias por tu voto!
    else
      .vote-forms
        - const randomNumber = Math.floor(Math.random() * (h.votePhrases.length))
        //- Get a random phrase from the array in h
        p.vota #{h.votePhrases[randomNumber]}
        form.up(action=`/vote/${tip._id}/up` method="POST")
          input(type="submit" value="👍")
        form.down(action=`/vote/${tip._id}/down` method="POST")
          input(type="submit" value="👎")
