mixin tipCard(tip, index)
  .tip(id=`tip-${tip._id}`)
    p.num= index+1
    h3.title= tip.name
    .votes(id=`votes-${tip._id}`)
      //- if user already voted, show only total votes 
      if tip.ips.includes(ip)
        p.total-voted(id=`total-${tip._id}`) #{tip.votes}
      else
        p.total(id=`total-${tip._id}`) #{tip.votes} 
        p.total.vota deja tu opinión!
        .vote-forms
          form.down(action=`/vote/${tip._id}/down` method="POST")
            input(type="submit" value="🔻")
          form.up(action=`/vote/${tip._id}/up` method="POST")
            input(type="submit" value="🔺")
    .more
      .desc!=tip.desc
      .cat= tip.category
      .user
        form(action="/update-form" method="POST")
          input(type="text" name="tip" id="tip-id" readonly style="display: none;" value=tip._id)
          input(type="submit" value="🖊️ Update this tip")
        form(action="/delete" method="POST")
          input(type="text" name="tip" id="tip-id" readonly style="display: none;" value=tip._id)
          input(type="submit" value="💣 Delete this tip")